In [1]:
import sys

#define a raiz do projeto par aser possivel importar os modulos
sys.path.append("../../src")

In [2]:
def restart_django():
    import os
    import sys
    import django
    #define a raiz do projeto par aser possivel importar os modulos
    sys.path.append("../../src") 

    #configura o ambiente
    os.environ.setdefault("DJANGO_SETTINGS_MODULE", "gestaopi.settings")
    os.environ["DJANGO_ALLOW_ASYNC_UNSAFE"] = "true"
    django.setup()
restart_django()

In [3]:
from pi_data.models import *
import pandas as pd

In [62]:
Cobranca.objects.all()

In [5]:
decenio = Cobranca.objects.all().filter(nome="Decênio")[0]
decenio.data_referencia = Cobranca.DATA_CONCESSAO
decenio.save()

In [16]:
prim_decenio = CobrancaPrazo.objects.all().filter(cobranca__nome="1º Decênio")[0]
decenio = CobrancaPrazo.objects.all().filter(cobranca__nome="Decênio")[0]
anuidade = CobrancaPrazo.objects.all().filter(cobranca__nome="Anuidade")[0]

In [54]:
data_ref = date(2010,4,28)
anuidade.get_num_pagamento_efetivo(2016,data_ref)

5

In [9]:
Pagamento.objects.filter(codigo_gru=29409161915832305)[0].pagamentocobranca.cobranca

IndexError: list index out of range

In [6]:
Evento.objects.values("usuario__username")

<QuerySet [{'usuario__username': None}, {'usuario__username': None}, {'usuario__username': None}, {'usuario__username': None}, {'usuario__username': 'hasan'}, {'usuario__username': 'hasan'}, {'usuario__username': 'hasan'}, {'usuario__username': 'hasan'}, {'usuario__username': 'hasan'}, {'usuario__username': 'hasan'}, {'usuario__username': 'hasan'}, {'usuario__username': 'hasan'}]>

In [4]:
pd.DataFrame.from_dict(PropriedadeIntelectual.objects.filter(historico_status_atual__status_pi__nome="Concedida").values())

Empty DataFrame
Columns: []
Index: []

In [5]:
data = pd.DataFrame.from_dict(ExigenciaPrazo.objects.all().values())
data

    id  prazo_id  prazo_extra_id  tipo_despacho_id  possui_pagamento
0    1         9             NaN                69              True
1    2        10             NaN                70              True
2    3        11             NaN                71              True
3    4        12             NaN                72              True
4    5        13             NaN                73              True
5    6        14             NaN                74              True
6    7        15             NaN                37              True
7    8        16             NaN                31              True
8    9        17             NaN                59              True
9   10        18             NaN                75              True
10  11        19             NaN                36              True
11  12        20             NaN                76              True
12  13        21             NaN                77              True
13  14        22             NaN                78              True
14  15        23             NaN                79              True
15  16        24             NaN                80              True
16  17        25             NaN                81              True
17  18        26             NaN                82              True
18  19        27             NaN                83              True
19  20        28            29.0                35              True
20  21        30            31.0                33              True

In [1]:
data

NameError: name 'data' is not defined

In [6]:
AtualizacaoStatusPorDespacho.objects.filter(tipo_despacho_id=83).values()

In [7]:
Evento.objects.filter(pi_id=13).values()

In [6]:
cefet_pessoa,_ = Pessoa.objects.get_or_create(cpf_cnpj="17.220.203/0001-96",
                                defaults={"nome":"Centro Federal de Educação Tecnológica de Minas Gerais",
                                          "sigla":"CEFET-MG",
                                            "pessoa_fisica_juridica":Pessoa.PESSOA_JURIDICA,
                                         "cidade":Cidade.objects.get(nome="Belo Horizonte"),
                                         "estado":Estado.objects.get(sigla="MG"),
                                         "pais":Pais.objects.get(nome="Brasil")})

In [7]:
try:
    nit_cefet = InstituicaoNIT.objects.get(nome="Coordenação de Inovação e Empreendedorismo",
                                    pessoa__sigla=cefet_pessoa.sigla)
except InstituicaoNIT.DoesNotExist:
    nit_cefet = InstituicaoNIT.objects.create(nome="Coordenação de Inovação e Empreendedorismo",
                                    pessoa=cefet_pessoa)

In [8]:
PropriedadeIntelectual.objects.all().values("codigo")

<PropriedadeIntelectualQuerySet [{'codigo': '814617085'}, {'codigo': '827346565'}, {'codigo': '827346573'}, {'codigo': '902555740'}, {'codigo': '902555758'}, {'codigo': '902555774'}, {'codigo': '902555782'}, {'codigo': '902555804'}, {'codigo': '902555812'}, {'codigo': '902555820'}, {'codigo': '902562436'}, {'codigo': '902771655'}, {'codigo': '902799371'}, {'codigo': '903416050'}, {'codigo': '903425904'}, {'codigo': '907402291'}, {'codigo': '908489080'}, {'codigo': '908489145'}, {'codigo': '908489790'}, {'codigo': '908489994'}, '...(remaining elements truncated)...']>

In [9]:
from datetime import date
arr_datas_pi_patente = [(date(2022,1,1), None),
                        (date(2021,1,1), None),
                        (date(2020,1,1), (1,date(2022,1,1))),
                        (date(2020,10,1), (1,date(2022,10,1))),
                        (date(2020,12,31), (1,date(2022,12,31))),
                        (date(2017,1,1), (4,date(2022,1,1))),
                        (date(2015,10,1), (6,date(2022,10,1))),
                        (date(2014,12,31), (7,date(2022,12,31)))
                       ]
arr_datas_pi_marca = [(date(2011,1,13)),
                      (date(2021,1,13)),
                      (date(2011,1,13)),
                      (date(2011,1,13)),
                      (date(2011,12,31)),
                       (date(2011,1,13)),
                       (date(2011,1,13)),
                      (date(2001,1,13)),
                      (date(1991,1,13)),
                      (date(1991,12,13)),
                      (date(1989,1,13)),
                      (date(1991,12,13)),
                       ]
arr_concessao_pi_marca = [(date(2011,1,2),None),
                      (date(2021,1,1),None),
                      (date(2011,1,2),None),
                      (date(2011,1,2),(1,date(2022,1,2))),
                      (date(2011,12,31),(1,date(2022,12,31))),
                       (date(2011,1,2),None),
                       (date(2011,1,1),None),
                      (date(2001,1,1),(2,date(2022,1,1))),
                      (date(1991,1,1),(3,date(2022,1,1))),
                      (date(1991,12,31),(3,date(2022,12,31))),
                      (date(1989,1,1),None),
                      (date(1991,12,31),None),
                       ]

In [8]:


patente = TipoPropriedadeIntelectual.objects.get(nome=TipoPropriedadeIntelectual.PATENTE)
marca = TipoPropriedadeIntelectual.objects.get(nome=TipoPropriedadeIntelectual.MARCA)

In [9]:


for i, (data, _) in enumerate(arr_datas_pi_patente):
    PropriedadeIntelectual.objects.create(titulo=f"PI Patente {i}", codigo=f"TST P {i}", data_deposito=data, tipo_pi=patente, responsavel = cefet_pessoa)

IntegrityError: UNIQUE constraint failed: pi_data_propriedadeintelectual.codigo

In [18]:
for i, (data, _) in enumerate(arr_concessao_pi_marca):
    data_deposito = arr_datas_pi_marca[i]
    pi = PropriedadeIntelectual.objects.get_or_create(titulo=f"PI Marca {i}", codigo=f"TST M {i}", 
                                                              data_deposito=data_deposito, tipo_pi=marca, 
                                                      responsavel = cefet_pessoa)[0]
    
    evento = Evento.objects.create(nome="Concessao Teste :-)",
                                    descricao="Oia, concedida",
                                   pi=pi,
                                  data=data,
                                  tipo_evento=TipoEvento.objects.get(titulo=TipoEvento.OCORRENCIA)
                                  )
    status_concedido = StatusPropriedadeIntelectual.objects.get(nome=StatusPropriedadeIntelectual.CONCEDIDA)
    historico_status_atual = HistoricoStatusPropridadeIntelectual.objects.create(status_pi = status_concedido,
                                                                            pi=pi,
                                                                           evento=evento,
                                                                           data_status=data)
    pi.historico_status_atual = historico_status_atual

In [10]:
list(PropriedadeIntelectual.objects.all().values("codigo"))

[{'codigo': 'BR 10 2012 033563-8'},
 {'codigo': 'BR 10 2013 005935-8'},
 {'codigo': 'BR 10 2013 008932-0'},
 {'codigo': 'BR 10 2013 008933-8'},
 {'codigo': 'BR 10 2014 011861-6'},
 {'codigo': 'BR 10 2014 023457-8'},
 {'codigo': 'BR 10 2015 022511-3'},
 {'codigo': 'BR 10 2016 005217-3'},
 {'codigo': 'BR 10 2016 007905-5'},
 {'codigo': 'BR 10 2016 015202-0'},
 {'codigo': 'BR 10 2016 022717-8'},
 {'codigo': 'BR 10 2016 024629-6'},
 {'codigo': 'BR 10 2016 024634-2'},
 {'codigo': 'BR 10 2016 029676-5'},
 {'codigo': 'BR 10 2017 002163-7'},
 {'codigo': 'BR 10 2017 006791-2'},
 {'codigo': 'BR 10 2017 018080-8'},
 {'codigo': 'BR 10 2017 020870-2'},
 {'codigo': 'BR 10 2017 023654-4'},
 {'codigo': 'BR 10 2017 024817-8'},
 {'codigo': 'BR 10 2017 025569-7'},
 {'codigo': 'BR 10 2018 002060-9'},
 {'codigo': 'BR 10 2018 003285-2'},
 {'codigo': 'BR 10 2018 006849-0'},
 {'codigo': 'BR 10 2018 015617-9'},
 {'codigo': 'BR 10 2018 073167-0'},
 {'codigo': 'BR 10 2018 076832-8'},
 {'codigo': 'BR 10 2019 003165-4'},
 {'codigo': 'BR 10 2019 004350-4'},
 {'codigo': 'BR 10 2019 009073-1'},
 {'codigo': 'BR 10 2019 009698-5'},
 {'codigo': 'BR 10 2019 013827-0'},
 {'codigo': 'BR 10 2019 028103-0'},
 {'codigo': 'BR 10 2020 005165-2'},
 {'codigo': 'BR 10 2020 013568-6'},
 {'codigo': 'BR 10 2020 020701-6'},
 {'codigo': 'BR 10 2021 001681-7'},
 {'codigo': 'BR 10 2021 002407-0'},
 {'codigo': 'BR 10 2021 005210-4'},
 {'codigo': 'BR 10 2021 013114-4'},
 {'codigo': 'BR 10 2021 013475-5'},
 {'codigo': 'BR 10 2021 015755-0'},
 {'codigo': 'BR 10 2021 018558-9'},
 {'codigo': 'BR 10 2021 023152-1'},
 {'codigo': 'BR 10 2021 023600-0'},
 {'codigo': 'BR 10 2021 023816-0'},
 {'codigo': 'BR 10 2022 004466-0'},
 {'codigo': 'BR 10 2022 005821-0'},
 {'codigo': 'BR 10 2022 007774-6'},
 {'codigo': 'BR 10 2022 014260-2'},
 {'codigo': 'BR 10 2022 017643-4'},
 {'codigo': 'BR 10 2022 021195-7'},
 {'codigo': 'BR 10 2022 021201-5'},
 {'codigo': 'BR 10 2022 021218-0'},
 {'codigo': 'BR 20 2016 011446-8'},
 {'codigo': 'BR 20 2016 015328-5'},
 {'codigo': 'BR 20 2017 006837-0'},
 {'codigo': 'BR 20 2017 026383-0'},
 {'codigo': 'BR 20 2019 012146-2'},
 {'codigo': 'BR 51 2018 052442-7'},
 {'codigo': 'BR 51 2019 002895-3'},
 {'codigo': 'BR 51 2019 002899-6'},
 {'codigo': 'BR 51 2021 001270-4'},
 {'codigo': 'BR 51 2021 002039-1'},
 {'codigo': 'BR 51 2021 003063-0'},
 {'codigo': 'BR 51 2022 000628-6'},
 {'codigo': 'BR 51 2022 000645-6'},
 {'codigo': 'BR 51 2022 000646-4'},
 {'codigo': 'BR 51 2022 000648-0'},
 {'codigo': 'BR 51 2022 000854-8'},
 {'codigo': 'BR 51 2022 000857-2'},
 {'codigo': 'BR 51 2022 000882-3'},
 {'codigo': 'BR 51 2022 000883-1'},
 {'codigo': 'BR 51 2022 001063-1'},
 {'codigo': 'BR 51 2022 002304-0'},
 {'codigo': 'BR 51 2022 002356-3'},
 {'codigo': 'BR 51 2022 002358-0'},
 {'codigo': 'BR 51 2022 002483-7'},
 {'codigo': 'BR 51 2022 002490-0'},
 {'codigo': 'BR 51 2022 003120-5'},
 {'codigo': 'PI 0912486-1'},
 {'codigo': 'PI 1102446-1'},
 {'codigo': 'TST M 0'},
 {'codigo': 'TST M 1'},
 {'codigo': 'TST M 10'},
 {'codigo': 'TST M 11'},
 {'codigo': 'TST M 2'},
 {'codigo': 'TST M 3'},
 {'codigo': 'TST M 4'},
 {'codigo': 'TST M 5'},
 {'codigo': 'TST M 6'},
 {'codigo': 'TST M 7'},
 {'codigo': 'TST M 8'},
 {'codigo': 'TST M 9'},
 {'codigo': 'TST P 0'},
 {'codigo': 'TST P 1'},
 {'codigo': 'TST P 2'},
 {'codigo': 'TST P 3'},
 {'codigo': 'TST P 4'},
 {'codigo': 'TST P 5'},
 {'codigo': 'TST P 6'},
 {'codigo': 'TST P 7'}]

In [11]:
"xuxu".find("xu")

0

In [10]:
ano = 2022
arr_pagamentos_por_cobranca = []
arr_pagamentos = []
for cobrancaPrazo in CobrancaPrazo.objects.all().select_related("cobranca","prazo","prazo_extra"):
    for pagamento in cobrancaPrazo.instancia_pagamentos_pis(ano):
        #if pagamento.pi.codigo.find("TST")>=0: 
        arr_pagamentos_por_cobranca.append({"cobranca":cobrancaPrazo.cobranca.nome,
                                                "data_deposito":pagamento.pi.data_deposito,
                                                "data_concessao":pagamento.pi.data_obtencao_status(StatusPropriedadeIntelectual.CONCEDIDA),
                                                "num_pagamento":pagamento.num_pagamento,
                                                 "data_inicio":pagamento.data_inicio_prazo,
                                                 "vencimento":pagamento.data_vencimento,
                                                 "vencimento_extra":pagamento.data_vencimento_extra,

                                               })
        arr_pagamentos.append(pagamento)
data = pd.DataFrame.from_dict(arr_pagamentos_por_cobranca)
data

,cobranca,data_deposito,data_concessao,num_pagamento,data_inicio,vencimento,vencimento_extra
0,Anuidade,2023-01-31,None,1,2025-01-31,2025-04-30,2025-07-31
1,Anuidade,2022-10-19,None,1,2024-10-19,2025-01-19,2025-04-19
2,Anuidade,2022-10-19,None,1,2024-10-19,2025-01-19,2025-04-19
3,Anuidade,2022-10-19,None,1,2024-10-19,2025-01-19,2025-04-19
4,Anuidade,2022-09-02,None,1,2024-09-02,2024-12-02,2025-03-02
...,...,...,...,...,...,...,...
167,Exame técnico,2010-04-28,None,1,2010-04-28,2013-04-28,2013-06-28
168,Exame técnico,2010-04-28,None,1,2010-04-28,2013-04-28,2013-06-28
169,Exame técnico,2010-04-19,None,1,2010-04-19,2013-04-19,2013-06-19
170,Exame técnico,2009-09-17,2021-05-04,1,2009-09-17,2012-09-17,2012-11-17
171,Exame técnico,2007-09-11,None,1,2007-09-11,2010-09-11,2010-11-11

In [13]:
data[data["cobranca"] == "Anuidade"]

,cobranca,data_deposito,data_concessao,num_pagamento,data_inicio,vencimento,vencimento_extra
0,Anuidade,2023-01-31,None,1,2025-01-31,2025-04-30,2025-07-31
1,Anuidade,2022-10-19,None,1,2024-10-19,2025-01-19,2025-04-19
2,Anuidade,2022-10-19,None,1,2024-10-19,2025-01-19,2025-04-19
3,Anuidade,2022-10-19,None,1,2024-10-19,2025-01-19,2025-04-19
4,Anuidade,2022-09-02,None,1,2024-09-02,2024-12-02,2025-03-02
...,...,...,...,...,...,...,...
81,Anuidade,2010-04-28,None,11,2022-04-28,2022-07-28,2022-10-28
82,Anuidade,2010-04-28,None,11,2022-04-28,2022-07-28,2022-10-28
83,Anuidade,2010-04-19,None,11,2022-04-19,2022-07-19,2022-10-19
84,Anuidade,2009-09-17,2021-05-04,12,2022-09-17,2022-12-17,2023-03-17
85,Anuidade,2007-09-11,None,14,2022-09-11,2022-12-11,2023-03-11

In [1]:
ano = 2023
arr_pagamentos_por_cobranca = []
arr_pagamentos = []
for cobrancaPrazo in CobrancaPrazo.objects.all().select_related("cobranca","prazo","prazo_extra"):
    cobrancaPrazo.insere_pagamentos_pis(ano)

NameError: name 'CobrancaPrazo' is not defined

In [11]:
PagamentoCobranca.objects.all().delete()

(28, {'pi_data.PagamentoCobranca': 28})

In [15]:
pd.DataFrame.from_dict(PagamentoCobranca.objects.values("pi__codigo","pi__data_deposito","data_inicio_prazo","data_vencimento","data_vencimento_extra"))

,pi__codigo,pi__data_deposito,data_inicio_prazo,data_vencimento,data_vencimento_extra
0,BR 10 2023 001719 3,2023-01-31,2025-01-31,2025-04-30,2025-07-31
1,BR 10 2022 021201 5,2022-10-19,2024-10-19,2025-01-19,2025-04-19
2,BR 10 2022 021195 7,2022-10-19,2024-10-19,2025-01-19,2025-04-19
3,BR 10 2022 021218 0,2022-10-19,2024-10-19,2025-01-19,2025-04-19
4,BR 10 2022 017643 4,2022-09-02,2024-09-02,2024-12-02,2025-03-02
...,...,...,...,...,...
167,PI 1001284-2,2010-04-28,2010-04-28,2013-04-28,2013-06-28
168,PI 1002065-9,2010-04-28,2010-04-28,2013-04-28,2013-06-28
169,PI 1001210-9,2010-04-19,2010-04-19,2013-04-19,2013-06-19
170,PI 0912486-1,2009-09-17,2009-09-17,2012-09-17,2012-11-17
171,PI 0705569-2,2007-09-11,2007-09-11,2010-09-11,2010-11-11